<!DOCTYPE html>
<html lang="ja">
    {% with "Blog" as title %}
        {% include "common/header.html" %}
    {% endwith %}
<body>
    {% load static %}
    <div style="background: url({% static 'original/images/blog-top1.jpg' %});
        background-size: cover;
        background-position: center center;
        height: 450px;
        padding: 20px;
        text-align: center;">
    </div>
    <div class="container">
        <h2><font color="#ff0000">{{ post.title }}</font></h2>
        {% for tag in post.tags.all %}
            <div class="chip">
                {{ tag }}
            </div>
        {% endfor %}
        <hr>
        <p class="flow-text">{{ post.content }}</p>
        <p class="flow-text">
            <font size="2" color="#ff0000">
                {{ post.content }}
            </font>
        </p>
    </div>
</body>
    {% include "common/footer.html" %}
</html>