<div class="container">
    <div class="row">
        {% for post in posts %}
            <div class="col xs12 s12 m6 12">
                <div class="card hoverable grid-card post-content-container red darken-1">
                    <div class="row">
                        <div class="col s12 m0 l4">
                            <div class="card-image" style="padding: 5%;">
                                <img src="{{ post.background_image.url }}" style="max-width: 158px">
                            </div>
                        </div>
                        <div class="col 12 m12 l7">
                            <div class="card-content white-text">
                                <i class="tiny material-icons">folder</i><a href="#">{{ post.category }}</a>
                                <span class="card-title">{{ post.title }}</span>
                                <p style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">{{ post.content }}</p>
                                <i class="tiny material-icons">event_note</i><span class="meta-data-date">{{ post.publish_on }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <a href="{% url 'blog:detail_blog_post' post_id=post.id %}">続きを読む</a>
                        <a href="#">{{ post.category }}</a>
                        <a href="#">{{ post.slug }}</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
